*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin:none;
    padding:none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fa-phone{
    color:rgb(79, 79, 250);
}

.header-item1{
    flex:20%;
    padding:15px 5px 15px 10px;
    border: 1px lightgray solid;
    text-align: center;
    border-top: none;
    border-left:none;
    color:black;
}

.header-item1 span{
    text-align: center;
    width: 100%;
    display: inline;
}

.header-item2{
    flex:60%;
}

.header-item3{
    flex:13%;
    padding: 20px 5px 15px;
    font-size: 2vmin;
    font-weight: bolder;
    text-align: center;
}

.header-item4{
    flex:7%;
    border-right: none !important;
    border-collapse: collapse;
}

.header-item2,.header-item3, .header-item4{
    border:1px lightgray solid;
    border-top:none;
}

.image{
    float: right;
}

.icons{
    font-size:20px; 
    color:lightgray;
    margin:20px ;
}

.icons:hover{
    color:blue;
    transition: scale(1.2);
    -webkit-transform: scale(1.2); /* Safari 3-8 */
}

.navbar{
    display: flex;
    flex-direction: row;
    overflow: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0px 25px 0px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

.navicon{
    display: none;
}



.nav-logo{
    flex:20%;
    background-color: black;
}

.navlogo img{
    margin:15px 0px 0px 50px;
    height:30px;
}

.navitems{
    flex:78%;
}

#right{
    display: none;
}
#down{
    display: inline;
}
.navitems ul{
    display: flex;
    flex-wrap: nowrap;
    float: right;
}

.navitems li{
    list-style-type: none;
}

.navitems i{
    flex-direction: row;
    display: inline;
    margin-left: 10px ;
}

.navitems a{
    text-decoration:none;
    display: block;
    margin:0px 18px 5px 18px;
    color:black;
}

.navitems a:hover{
    color:rgb(72, 162, 235);
    font-weight: bold;
}

.topnav{
    display: none;
}
#ham{
    display: none;
}

.dropdown{
    display: block;
}

.dropdown-items{
    display: none;
    margin-left: 18px;
    background-color: white;
    width: 15%;
    position: absolute;
}

.dropdown-items a{
    width: 100%;
    padding: 15px 0px 7px 5px;
    margin: 0px 0px !important;
    color:black;
}

.dropdown:hover .dropdown-items{
    display: block;
}

.navhide-element{
    flex: 4%;
}

/* Section1 -- Home  */

.home-image{
    
    background-image: url('pics/home-banner-bg.png');
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    overflow: hidden;
}

.home-cover-content{
    width: 40%;
    height: max-content;
    flex-direction: row;
    height: 50vh;
}

.cover-text{
    width: 100%;
    font-size:10vh;
    font-weight: 1;
    margin: 220px 0px 0px 70px;
    color:white;
}

.home-button{
    display: none;
}

/*  Section2 Latest News*/

.section2, .section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section2-text,.section3-text{
    flex:100%;
    margin-bottom: 70px;
}

#section2-text1, #section3-text1{
    font-size:26px;
    font-weight: 500;
    text-align: center;
}

#section2-text2 , #section3-text2{
    font-size:15px;
    font-weight: 300;
    text-align: center;
    width: 600px;
}

#section2-text3{
    display: none;
}

.section2-categories{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}

.section2-category{
    width: 25%;
    flex-direction: row !important;
    border:1px lightgray solid;
    border-radius: 4px;
    margin: 10px;
}

.section2-category-image{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.section2-category-text{
    width: 100%;
    padding-left:18px ;
    margin-top: 0px;
}

.section2-category-text p{
    width: 80%;
    font-size: 11px;
}

#mobile{
    display: none;
}
/* Section3 list*/
.section3-list{
    display: flex;
    flex-direction:row;
    margin-bottom: 20px;
}

.section3-list li{
    list-style-type:none;
    margin: 5px 10px 0px 10px;
    display: inline;
}
#linebreak{
display: none;
}
.section3-list a{
    text-decoration:none;
    color:black;
    display: inline-block;
}

.section3-list a:hover{
    color: rgb(72, 162, 235);
    font-weight: bold;
}

.section3-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.project{
    width: 25%;
    margin: 10px 20px 10px 20px;
}

.poject-text{
	color:gray;
    text-align: center;
}

.section4{
    display: flex;
    flex-direction: column;
}

.section4-poster{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cover{
    background-color: rgba(44, 164, 201, 0.719);
    width: 100%;
    height: 50vh;
    z-index: 100;
}

.cover-image{
    background-image: url('pics/xn3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    flex:100%;
    z-index: -1;
}

.post{
    float: left;
    width: 40%;
    color: black;
    background-color: white;
    margin: 100px 0px 0px 80px;
    height: 28vh;
    display: flex;
}

.user-img{
    padding: 10px 0px 0px 30px;
}

.post img{
    width: 50px;
}

.post p{
    font-size: 15px;
    padding-left: 20px;
}

#cbName{
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    padding-top:80px;
}

#cbDesig{
    padding: 0px;
}

.footer{
    display: flex;
    background-color: rgb(34, 33, 33);
    color:gray;
    justify-content: left;
    flex-flow: row wrap;
    padding-bottom:80px ;
}

.product-list{
    background-color: transparent;
    flex:20%;
    margin: 80px 0px 50px 30px;
}

#heading-margin{
margin-bottom: 30px;
}

#heading{
font-size: x-large;
}

.product-list li{
    list-style-type: none;
    margin: 5px 0px 5px 0px;
}

.product-list a:hover{
    color: white;
}

.footer-newsletter{
    flex:40%;
    margin-top: 80px;
    padding: 0px 30px 0px 0px;
} 
.footer-newsletter input{
    width: 25vw;
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
    border-radius: none;
    font-weight: bold;
    border:none;
}

.footer-newsletter button{
    background-color: rgb(72, 162, 235);
    color:white;
    text-align: center;
    border-radius: 50px;
    width: 10vw;
    height: 40px;
    font-size: 17px;
    margin-left: 10px;
    border:none;
}

.footer-newsletter button:hover{
    color: rgb(72, 162, 235);
    background-color: white;
    font-weight: bold;
}

.footer-feed{
    width: 320px;
    margin-top: 80px;
}

.feed-images{
    width: 90%;
}

.images{
    width: 20%;
    background-color: white;
    color:blue;
    margin: 0px 5px 0px 10px;
}

.footer-copyright{
        flex:100%;
}

.footer-copyright p{
    padding: 20px 0px 10px 50px;
    font-size:1.2vw ;
}

.copyright-text{
    width: 65%;
    float: left;
}

#Name{
    color:rgb(72, 162, 235);
}

.footer-logos{
    width: 33%;
    float: left;
    margin-top:12px;
    padding-right: 5px;
}

#flogo{
    width: 50px;
    font-size: 24px;
    background-color: black;
    padding: 13px 12px 15px 15px;
    margin: 10px;
}

.logos{
    float: right;
}

#flogo:hover{
    color: rgb(72, 162, 235);
    background-color: white;
}
.colorheart{
    color: rgb(72, 162, 235);
}
.hamberger{
    display: none;
}

/*Mobile phones*/
@media screen and (max-width:767px){

    .home-button{
        display: block;
        background-color: rgb(72, 162, 235);
        max-width: 250px;
        height: 60px;
        border-radius: 10px;
        color:white;
        text-align: center;
        font-size: 18px;
        padding: 18px 15px;
        margin: 100px 0px 0px 15px !important;
    }

    .home-button:hover{
        background-color: white;
        color: rgb(72, 162, 235);
    }

    .cover-text{
        width: 100%;
        font-size: 7vw !important;
        font-weight: 1;
        margin: 110px 0px 0px 15px !important;
        color:white;
    }

    #section2-text2{
        display: none;
    }

    #section2-text3{
        display: inline;
        margin-left: 150px;
        font-size: 2.7vw;
        font-weight: 500;
    }
    
    .section2-categories{
        display: block;
        width: 100%;
    }

    .section2-category{
        width: 85% !important;
        margin:auto;
        margin-bottom: 20px;
    }

    .section2-category-text p{
        width: 100%;
        font-size: 13px;
    }

    .section3-list{
        width: 70%;
        justify-content: center;
    }

    #linebreak{
        display: block;
    }
    .section3-list ul{
        text-align: center;
    }

    
    #section3-text2{
        width: 400px;
    }

    .section3-projects{
        display:flex;
    }

    .project{
        width: 100%;
    }
    .project img{
        width: 100%;
    }
    .footer-newsletter{
        width: 70% !important;
    }
    .footer-newsletter input{
        width: 400px !important;
    }
    .footer-newsletter button{
        width: 170px !important;
        margin-left: 0px ;
    }
    .footer-newsletter p{
        font-size: 13px;
    }
    
    .footer-feed{
        width: 100%;
        margin:0px 0px 10px 10px;
    }

    .feed-images{
        width: 250px;
    }
    .feed-images img {
        margin: 0px 50px 0px 3px !important;
    }
    .post{
        width: 80% !important;
        margin-left: 40px !important;
    }
    .btn{
        width: 200px !important;
        margin-left: 15px;
        height: 50px;
        border-radius: 5px;
        border:1px white solid;
        font-weight: bold;
        margin-bottom: 50px;
    }

}

/*Tablet Devices*/
@media screen and (max-width: 991px){
    .header, .navitems{
        display: none;
    }

    .navlogo{
        flex: 50%;
        flex-direction:row;
    }

    .navicon{ 
        flex: 50%;
        display: block;
    }
    
    .navicon i{
        float: right;
        margin: 12px 15px 15px 0px;
        padding:5px;
        color: rgb(72, 162, 235);
        font-size: 30px;
    }

    .cover-text{
        width: 100%;
        font-size:10vh;
        font-weight: 1;
        margin: 220px 0px 0px 30px;
        color:white;
    }

    #section2-text1{
    width: 70%;
    margin: auto;
    font-size:30px;
    }

    .section2-category{
        width: 30%;
    }

    .section3-list{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #linebreak{
        display: block;
    }
    .section3-list li{
        margin-left: 30px;
    }

    .footer{
       flex-direction: column;
    }

    .product-list{
        margin: 10px !important;
    }

    .product-list > ul{
        padding: 0px;
    }

    .footer-newsletter{
        width: 90%;
        margin:30px 0px 0px 10px !important;
    }

    .footer-newsletter input{
        width: 500px;
        margin-bottom: 15px;
    }

    .footer-newsletter button{
        width: 150px;
    }

    .footer-feed{
        width: 100%;
        margin:0px 0px 10px 0px;
    }

    .feed-images{
        width: 600px;
    }
    .footer-feed h2{
        margin-left: 10px;
    }

    .feed-images img{
        margin: 0px 40px 5px 20px;
    }

    .footer-copyright{
        flex-direction: column;
    }

    .copyright-text{
        width: 100%;
    }
    .copyright-text p, span{
        font-size: small;
        padding-left:13px;
    }

    .footer-logos{
        width: 100%;
    }

    .logos{
        float: left;
    }

    #p2{
        display: none;
    }

    .user-img{
        width: 150px;
    }

    .user-img img{
        margin-top:20px;
    }
    .post p{
        padding-top: 20px !important;
    }
    .post{
        width: 60%;
        margin-left: 10pc;
        height: 32vh;
    }
 
    #mobile{
        display: block;
    }

    .mobile-section{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        background-color: rgb(34, 33, 33);
    }

    .section-images{
        width: 50%;
        margin:auto;
    }

    .section-images img{
        width: 100%;
    }

    .section-images p{
        margin-left:20px ;
        font-size: large;
        color:gray;
        text-align: center;
    }

    .mobile-text{
       padding-left: 15px; 
    }

    .mobile-text h1{
        font-size:45px;
        color: white;
        font-weight: lighter;
    }
    
    .mobile-text p{
        color:gray;
        font-size:  16px;
    }

    .mobile-button{
        margin-bottom: 50px;
    }

    .btn{
        width: 220px;
        margin-left: 15px;
        height: 50px;
        border-radius: 5px;
        border:1px white solid;
        font-weight: bold;
        margin-bottom: 50px;
    }

    #btn1{
        background-color: transparent;
        color:lightgray;
    }

    #btn2{
        background-color: white;
        color:gray;
    }

    #btn1:hover{
        color:rgb(34, 33, 33);
        background-color: lightgray;
    }

    #btn2:hover{
        color: white;
        background-color: rgb(34, 33, 33);
    }

 .navhide-element{
        width: 0px !important;
    }

    .topnav{
        display: block;   
        width: 100%;
    }

    .topnav ul{
        padding:0px;
    }

    .topnav li{
        list-style-type:none;
        display: block;
        margin-bottom:10px;
        padding-left: 30px;
        border-bottom: 1px lightgray solid;
    }

    .topnav a{
        text-decoration: none;
        font-size: large;
        color:gray;
    }

    .topnav a:hover{
        color: rgb(72, 162, 235);
        font-weight: bolder;
    }

    #right{
        margin-left: 30px;
        display: inline;
    }

    #down{
        display: none;
    }

    .dropdown{
        display: block;
    }

    .dropdown-items{
        width: 250px;
        height: 50px;
        position: absolute;
        /*margin:-25px 0px 10px 80px;*/
        margin:-15px 0px 50px 100px;
        background-color: white;
    }

    .dropdown-items  a{
        font-size: 18px;
    }

    #ham{
        display: block;
    }

}


